<div class="container">
  <div class="page-header">
    <h1>{{ title }}</h1>
  </div>
  <div class="page-content">
    <div class="well">
      <h2>我的跟号</h2>
      <ul class="row list-unstyled lucky-numbers-list">
        <li class="col-md-6 lucky-numbers" *ngFor="let numbers of luckyNumbers">
          <lottery-numbers [lotteryNumbers]="numbers" [matchedNumbers]="latestLotteryNumbers"></lottery-numbers>
        </li>
      </ul>
    </div>
    <div class="well" *ngIf="latestLotteryNumbers">
      <h2>最新一期开奖结果如下：</h2>
      <ul>
        <li>期数：{{ latestLotteryNumbers.expect }}</li>
        <li>开奖时间：{{ latestLotteryNumbers.opentime }}</li>
        <li>开奖号码：<lottery-numbers [lotteryNumbers]="latestLotteryNumbers.opencode"></lottery-numbers></li>
      </ul>
    </div>
    <button class="btn btn-primary btn-block btn-lg" (click)="getLatestLotteryNumbers()">获取最新开奖结果</button>
  </div>
  <div class="page-footer">
    <p></p>
  </div>
</div>

